<div class="header-title">
    <ul class="flex-container list header-list">
        <li class="header-item item-one">
            <h4>LSU Events and Attendance Tracking Website</h4>
            <div id="errorResponse" class="flex-container user-prompt slide-in"></div>
            <div id="successResponse" class="flex-container user-prompt slide-in"></div>
        </li>
        <li class="header-item item-two">
            <h5 id="adminData"> {{ adminData.organization }} Officer | {{ adminData.first_name }} {{ adminData.last_name
                }}</h5>
        </li>
        <li class="header-item item-three">
            <img src="../img/User_cicrle_duotone.png" alt="Profile Image" />
        </li>
        <li class="header-item item-four">
            <a href="/help"><img src="../img/Question_fill.png" alt="Help and Resources" /></a>
        </li>
    </ul>
</div>

<input type="hidden" id="isUSGorSAO" value="{{isUSGorSAO}}" />
<input type="hidden" id="isAdminURL" value="{{isAdminURL}}" />