<nav class="sidenav">
    <!-- sidenav -->
    <div class="navi">
        <div class="container container-logo">
            <div class="holder holder-logo">
                <div class="icon icon-logo">
                    <img src="../img/lsu.png" alt="LSU Logo" class="img-logo" />
                </div>
                <div class="text text-logo">
                    Events and Attendance Tracking Website
                </div>
            </div>
        </div>
        <h1>EVENTS</h1>
        <hr />
        <div class="container-events">

            {{!-- INSTITUTIONAL: not ABO or IBO --}}
            {{#unless isABOorIBO}}
            <div class="container">
                <div class="flex-container">
                    <div class="icon icon-textflag">
                        <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
                    </div>
                    <div class="text text-textflag">
                        INSTITUTIONAL
                    </div>
                </div>
            </div>
            {{#each institutionalEvents}}
            <a href="#" class="nav-link" id="navLink{{@index}}" data-nav-id="{{@index}}">
                <p class="eventNameSpecific">{{this.event_name}}</p>
            </a>
            {{/each}}
            {{/unless}}


            {{!-- COLLEGE: only College & SAO --}}
            {{#if isCollegeOrSAO}}
            <div class="container container-textflag college-textflag">
                <div class="flex-container">
                    <div class="icon icon-textflag">
                        <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
                    </div>
                    <div class="text text-textflag">
                        COLLEGE
                    </div>
                </div>
            </div>
            {{#each collegeEvents}}
            <a href="#" class="nav-link" id="navLink{{@index}}" data-nav-id="{{@index}}">
                <p class="eventNameSpecific">{{this.event_name}}</p>
            </a>
            {{/each}}
            {{/if}}

            {{!-- ABO: only ABO, CSO, & SAO --}}
            {{#if isCSOorABOorSAO}}
            <div class="container">
                <div class="flex-container">
                    <div class="icon icon-textflag">
                        <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
                    </div>
                    <div class="text text-textflag">
                        ABO
                    </div>
                </div>
            </div>
            {{#each institutionalEvents}}
            <a href="#" class="nav-link" id="navLink{{@index}}" data-nav-id="{{@index}}">
                <p class="eventNameSpecific">{{this.event_name}}</p>
            </a>
            {{/each}}
            {{/if}}

            {{!-- IBO: only IBO, CSO, & SAO --}}
            {{#if isCSOorIBOorSAO}}
            <div class="container">
                <div class="flex-container">
                    <div class="icon icon-textflag">
                        <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
                    </div>
                    <div class="text text-textflag">
                        IBO
                    </div>
                </div>
            </div>
            {{#each institutionalEvents}}
            <a href="#" class="nav-link" id="navLink{{@index}}" data-nav-id="{{@index}}">
                <p class="eventNameSpecific">{{this.event_name}}</p>
            </a>
            {{/each}}
            {{/if}}
        </div>

        {{#unless isStudentURL}}
        <div class="container container-widget">
            <div class="holder holder-widget">
                <div class="icon icon-widget">
                    <a href="/dashboard">
                        <img src="../img/Menu.png" alt="Dashboard Icon" />
                    </a>
                </div>
                <div class="text text-widget text-widget-dashboard">
                    <a href="/dashboard" class="link-widget">DASHBOARD</a>
                </div>
            </div>

            {{#unless isCSOorSAO}}
            <div class="holder holder-widget">
                {{!-- {{#if isUSGorSAO}} --}}
                <div class="icon icon-widget">
                    <a class="editMode">
                        <img src="../img/Edit.png" alt="Edit Mode Icon" />
                    </a>
                </div>
                <div class="text text-widget text-widget-edit">
                    <a class="editMode link-widget">EDIT MODE</a>
                </div>
            </div>
            {{/unless}}

            <div class="holder holder-widget">
                <div class="icon icon-widget">
                    <a href="/logout"><img src="../img/On_button.png" alt="Log Out Icon" /></a>
                </div>
                <div class="text text-widget text-widget-logout">
                    <a href="/logout" class="link-widget">LOG OUT</a>
                </div>
            </div>
        </div>
        {{/unless}}
    </div>
</nav>